<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentUrl</key>
	<string>expb5353a006d6345e0afb493da98aa03f9://ri-29p.mkadlubowski.myfoodlist.exp.direct:80</string>
</dict>
</plist>
